.registro {
    margin: 0 auto;
    max-width: 500px;
}

.registro-form {
    border: .5px solid #837f7f;
    background: rgb(223, 191, 219);
    border-radius: 30px;
}

.registro-header h2 {
    text-align: center;
    margin-left: 0%;
    color: #F4EB9B;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 2px #999;
    margin: 0 auto;
}

.registro-form {
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 5%;
    margin: 5% auto;
    text-align: center;
}

.registro input {
    max-width: 600px;
    width: 80%;
    line-height: 3em;
    font-family: ona sans-serif;
    margin: 1em 2em;
    border-radius: 5px;
    border: 1px solid #747279;
    outline: none;
    padding-left: 9px;
}

.registro-button {
    background-color: #757575;
    color: white;
    padding: 5px 5px;
    text-align: center;
    font-size: 15px;
}

.footer
     margin-top: 15px;
    padding-left: 10px;
    border-radius: 10px;

}
