.registro {
    margin: 0 auto;
    max-width: 500px;
}

.registro-form {
    border: .5px solid #837f7f;
    background: rgb(223, 191, 219);
    border-radius: 30px;
    box-shadow: 0px 0px 40px #f2f2f2;
}

.registro-header h2 {
    text-align: center;
    color: #a79aa5;
    font-family: sans-serif;
}

.registro-form h3 {
    text-align: left;
    margin-left: 20px;
    font-family: sans-serif;
    font-style: inherit;
    color: #616063;
}

.registro-form {
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 10%;
    margin: 5% auto;
    text-align: center;
}

.registro input[type="text"],
.registro input[type="password"] {
    max-width: 600px;
    width: 80%;
    line-height: 3em;
    font-family: ona sans-serif;
    margin: 1em 2em;
    border-radius: 5px;
    border: 1px solid #747279;
    outline: none;
    padding-left: 9px;
}

.footer{
    margin-top: 15px;
    padding-left: 10px;
    border-radius: 10px;
}
